@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background: #003;
    color: white;
    font-family: 'Roboto', sans-serif;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

small {
    margin: 2vh 0 5vh;

    a:visited {
        color: #06f;
    }
}

#aniContainer {
    width: 400px;
    height: 400px;
    position: relative;
    background: rgb(11, 85, 44);

    #animate {
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: rgb(55, 0, 255);
    }
}    

    .onmouseOverBox {
        background-color: #385ed9;
        width: 120px;
        height: 20px;
        padding: 40px;
    }
    .onClickBox {
        background-color: #385ed9;
        width: 120px;
        height: 20px;
        padding: 40px;
    }
    .mouseMoveBox {
        background-color: #385ed9;
        width: 120px;
        height: 20px;
        padding: 40px;
    }